<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrustlessCrowd Presentation</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link href="https://fonts.cdnfonts.com/css/sofia-pro" rel="stylesheet"></link>

    <style>
        html * {
            font-family: Sofia Pro, sans-serif !important;
            background-color: #14222d;
        }
    </style>
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered" style="font-size: 72px; color:aliceblue">What is TrustlessCrowd?</h1>
            </div>
        </div>
    </section>

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered" style="font-size: 48px; color:aliceblue">TrustlessCrowd.Network is a serverless crowdsourcing dApp on Polygon and Avalanche Blockchains. Unlike traditional web 2.0 crowdfunding platforms, there are no platform fees. You can create a crowdfunding campaign and get your project funded. Crowdloaning will be available soon.
                </h1>
            </div>
        </div>
    </section>

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered" style="font-size: 32px; color:aliceblue">Meet TrustlessCrowd - Trustless and Serverless Crowdsourcing dApp with NFT Dex.</h1>
                <h1 class="title has-text-centered" style="font-size: 32px; color:aliceblue">No KYC is required. Permissionless and Censorship-Resistant.</h1>
                <h1 class="title has-text-centered" style="font-size: 32px; color:aliceblue">No Central Server. The Pages are Hosted on IPFS Through Pinata.Cloud. No Cookies or Tracking Also.</h1>
                <h1 class="title has-text-centered" style="font-size: 32px; color:aliceblue">No Platform Fees. You Can Donate to Devs if You Wish.</h1>
                <h1 class="title has-text-centered" style="font-size: 32px; color:aliceblue">Collateralized and Non-Custodian Swaps Play. Game Theory and the Code guarantee Trust.</h1>
                <h1 class="title has-text-centered" style="font-size: 32px; color:aliceblue">Be an Early Bird to a Campaign. Earn in Native Cryptocurrencies By Trading on DEX.</h1>
               
            </div>
        </div>
    </section>

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered" style="font-size: 72px; color:aliceblue">What does trustless mean?</h1>
            </div>
        </div>
    </section>

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered" style="font-size: 36px; color:aliceblue">The trustless aspect of TrustlessCrowd.Network means that there is no immediate third party that is establishing the crowdsourcing process. Contract code and game theory guarantee trust. Campaign creators are required to deposit the collateral value of the amount that they are trying to raise. This collateral serves so that the creators are encouraged to ship their products to the buyers. Buyers pay a collateral value of the same amount that a product costs. Once buyers receive their physical reward, they then claim the reward. Claiming a product unlocks the collateral of the item back to the buyer. And campaign creators get the collateral for that reward, as well as the value of its price.
                </h1>
            </div>
        </div>
    </section>

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered" style="font-size: 72px; color:aliceblue">How is TrustlessCrowd.Network serverless?
                </h1>
            </div>
        </div>
    </section>

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered" style="font-size: 36px; color:aliceblue">TrustlessCrowd.Network is serverless because it serves as a single HTML file with inline CSS and javascript. Pinata.cloud hosts this HTML file on IPFS as well. You can reach this website on the Pinata service link. The HTML file is the front-end implementation that hooks to Polygon or Avalanche networks. So there are no centralized servers involved.

                </h1>
            </div>
        </div>
    </section>

</body>
</html>